<div class=around>
<h1> NEM FAUCET <h1>
<p></p>
</div>
<form action="/" method="GET">
<input type="submit" class='btn btn-primary' value="Didn't give out nem. 5 minutes havent passed.Try again."> 
</form>